
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FastAPI Form</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>


  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="signup"
                >sign up</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="row m-sm-5 m-3">
    <h1 class="col">FastAPI Profile User</h1>
  </div>

  <div class="row justify-content-center">
    <div class="card col-5" style="width: 18rem">
      <div class="card-body">
        <!-- <h5 class="card-title">Hi <mark>{{ user[0]}}</mark></h5> -->
        <p class="card-text">This is a list with your data.</p>
      </div>
      <ul class="list-group list-group-flush">
        <!-- <li class="list-group-item">Firstname: <mark>{{ data_user[1] }}</mark></li>
        <li class="list-group-item">Lastname: <mark>{{ data_user[2] }}</mark></li>
        <li class="list-group-item">Country: <mark>{{ data_user[4] }}</mark></li> -->
      </ul>
    </div>
    <button type="submit" (click)="logOut()"  class="btn btn-primary">Submit</button>

  </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
